@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
background-color: #191920;
}
body::-webkit-scrollbar {
  color: black;
  
}
 input.search {
   width: 260px;
   border: 1px solid #555;
   display: block;
   padding: 9px 4px 9px 40px;
   background: transparent url("https: //static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png") no-repeat 13px;
 }